<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <listeners>
        <listener class-name="com.nagarro.driven.runner.testng.base.RiskBasedExecutionTestng"/>
    </listeners>

    <test name="TestFlightSelection">
        <classes>

            <class name="com.nagarro.driven.project.espo.test.test.IDT465_FlightSelection_OneWayReturnTest" />
            <class name="com.nagarro.driven.project.espo.test.test.IDT471_FlightSelection_AdultsChildrenInfantsSelectionTest" />
            <class name="com.nagarro.driven.project.espo.test.test.IDT473_FlightSelection_ChangeOriginDestinationTest" />
            <class name="com.nagarro.driven.project.espo.test.test.IDT510_FlightSelection_LowestFaresCalendarTest" />
            <class name="com.nagarro.driven.project.espo.test.test.IDT618_FlightSelection_CurrenciesTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD442_RouteSelectionTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD459_FlightSelection_DirectFlightsSelectionTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD461_FlightSelection_SearchResultsTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD470_ContactDetailsTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD474_PassangerInfoAndValidationTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD475_PriceDetailsModalTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD521_BookingInformationPriorToPaymentTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD653_CheckLanguagesEN_NOTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD732_PaymentValidationTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD817_ConfirmationPageTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD859_AccessItineraryTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD992_FindFlightsBookingTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD1349_SeatReservationTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD2146_CheckInLinkTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD2163_SeatReservation_MiniSmartFleksTest" />
            <class name="com.nagarro.driven.project.espo.test.test.ITD2325_IndirectFlightsTest" />
            <class name="com.nagarro.driven.project.espo.test.test.Smoke_Test" />

        </classes>
    </test>
</suite>
